@using RunGroopWebApp.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model LoginViewModel



<section class="pb-4">
  <div class="border rounded-5">

    <section class="w-100 p-4 d-flex justify-content-center pb-4">
      <form method="post" asp-action="Login" style="width: 22rem;">
                @if (TempData["Error"] != null)
                {
                <div class="alert alert-danger">
                        @TempData["Error"]
                </div>
                }
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <label asp-for="EmailAddress" class="form-label" for="form2Example1">Email address</label>
          <input asp-for="EmailAddress" type="email" id="form2Example1" class="form-control" />
          <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>


        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <label asp-for="Password" class="form-label" for="form2Example2">Password</label>
          <input asp-for="Password" type="password" id="form2Example2" class="form-control" />
          <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
          </div>

          <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>

        <!-- Submit button -->
        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Log in</button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a asp-controller="Account" asp-action="Registration">Register</a></p>
        </div>
      </form>
    </section>