@{
	ViewData["Title"] = "Home Page";
}
<section class="py-5 text-center container">
	<div class="row py-lg-5">
		@if (!User.Identity.IsAuthenticated)
		{
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">RunGroops</h1>
				<p class="lead text-body-secondary"></p>
				<p>
					<a  class="btn btn-primary my-2" asp-controller = "Account" asp-action="Login">Log in!</a>
				</p>
				<p>
					<a  class="btn btn-secondary my-2"asp-controller="Account" asp-action="Registration">Sign up!</a>
				</p>
			</div>
		}
		else
		{
				<h2> Welcome! Here u can check our <a asp-action="Index" asp-controller="Race">races</a> or <a asp-action="Index" asp-controller="Club">running clubs</a></h2>
		}
	</div>
</section>

